@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

body {
  margin: 0;
  background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
  margin-top: 0px;
  font-family: 'Quantico', sans-serif;
  font-size: 150%;
  font-weight: bold;
  color: white;
}

.main-wrapper {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
  background: rgb(91, 221, 30);
  box-shadow: 0 0 10px 10px rgb(91, 221, 30);
  text-align: center;
}

.caption {
  font-size: 40px;
}

button {
  margin-top: 10px;
  font-family: 'Quantico', sans-serif;
  font-size: 130%;
  font-weight: bold;
  color: rgb(91, 221, 30);
  background: rgba(255, 255, 255, 1);
  cursor: pointer;

  border: 3px solid white;
  box-shadow: 0 0 5px 0 white,
              inset 0 0 5px 0 white;
  border-radius: 15px;
  padding: 0 5px;
}



/* user info block */

.user-info > div {
  margin: 10px auto;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.user-avatar img {
  border-radius: 100%;
}

/* loading styles */

.user-avatar-loading div {
  margin: auto;
  width: 128px;
  height: 128px;
  border-radius: 100%;

}

.user-field-loading {
  border-radius: 20px;
  width: 80%;
  height: 35px;
  margin: auto;
  background: #eee;
  overflow: hidden;
}


@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: darkgray;
    background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 100px;
    position: relative;
}
